@import url(var.less);
.business{
    padding-bottom: 240px;
}
.business a {
    padding: 0px;
}
#par1, #par2, #par3{
    font-size: 40px;   
}
#par1 {
    max-width: 45rem;
}
#par2 {
    max-width: 65rem;
}
#par3 {
    max-width: 60rem;
}
.container__button{
    display: flex;
}
.container .button__gray{
    .button__gray();
    margin-right: 0.5rem;
}
.container .button__black{
    .button__black();
    display: flex;
    margin-left: auto;
}
.container__text {
    margin-top: 10vh;
}
// Планшетная версия

// Мобильная версия | адаптив
@media (max-width: 990px) {
    #par1, #par2, #par3{
        font-size: 30px;   
    }
    .container .button__gray{
        .button__gray();
        margin-right: 0.5rem;
        font-size: 23px;
    }
    .container .button__black {
        .button__black();
        display: flex;
        margin-left: auto;
        font-size: 23px;
    }
    #par1 {
        max-width: 35rem;
    }
    #par2 {
        max-width: 35rem;
    }
    #par3 {
        max-width: 60rem;
    }
    .business{
        padding-bottom: 180px;
    }
}
@media (max-width: 567px) {
    #par1, #par2, #par3{
        font-size: 20px;   
    }
    #par1 {
        max-width: 21rem;
    }
    #par2 {
        max-width: 24rem; 
    }
    #par3 {
        max-width: 26rem; 
    }
    .business .container .button__gray {
        .button__gray();
        font-size: 17px;
    }
    .business .container .button__black {
        .button__black();
        display: none;
    }
    .business .container .button__black__mobile {
        .button__black__mobile();
        font-size: 17px;
        position: absolute;
        display: flex;
    }
    .business{
        padding-bottom: 100px;
    }
}