@import url(var.less);
.promo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12rem 0;
}
.promo .container {
    max-width: 960px;
}
.logo{
    max-width: 100%;
    height: auto;
    margin: 0 auto; 
}

// Мобильная версия
@media (max-width: 567px) {
    .button__buy .button__black__mobile {
        .button__black__mobile();
        display: flex;
    }
    .promo {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 9rem;
        margin-bottom: 7rem;
    }
}