@import url(./var.less);
.remotely {

}
.container {

}
.remotely__inner {
}
.remotely__inner {
    text-align: center;
    margin: 0 auto;
}
.remotely__inner h2 {
    width: 650px;
    margin-bottom: 0;
    font-size: 50px;
}
.remotely__inner p {
    width: 390px;
    font-size: 20px;
}
.figma {
    position: absolute;
    margin-left: 330px;
}
.whatsapp {

}
.telegram {

}
.discord {

}