@import url(var.less);
.button__day{
    .button__day;
    max-width: 140px;
}
h3{
    font-size: 30px;
}
.card span {
    font-size: 25px;
}
.card .button__black{
    font-size: 20px;
    margin-left: 0;
    max-width: 150px;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding-top: 10px;
}
.card__inner {
    align-self: start;
    background: @gray;
    border-radius: 5px;
    width: 100%;
}
.card__inner__info {
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.card__inner__img {
    display: flex;
    justify-content: end;
    z-index: -1;
}
.skeleton {
    display: flex;
    flex-direction: row;
    justify-content: end;
}