@import url(var.less);
.stage__inner__card {
    // width: auto;
    height: 190px;
    background: @gray;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 10%), 
    0px 4px 4px -4px rgba(12, 12, 13, 5%);
}
.stage {
    font-size: 40px;
}
.stage__up {
    font-family: 'FuturaPTBook';
}
.stage__inner__card p {
    font-size: 20px;
    margin-top: 5px;
}
.button__expand .button__black{
    margin: 0 auto;
}
.display__none {
    display: none;
}
.inner__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
@media (max-width: 1230px) {
    .inner__card {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px) {
    .inner__card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
@media (max-width: 620px) {
    .inner__card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }   
}
// 693px
